<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Shots</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navigation-bar">
        <div id="navigation-container">
          <img src="/static/webIcon.png" alt="pic not loading" 
            style="width: 50px; height: 50px; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); margin-top: 10px;"/>
        </div>
    </div>
    <div class="container">
        <div class="column1">
            <img class="img2_style" src="/static/img2.jpg" alt="img" width="60%">
            <img class="img1_style" src="/static/rectangle.jpeg" alt="initiation" width="90%">
        </div>
        <div class="columnMid">
            <p class="caveat-font">Have a folder with tons of pictures for social media, but cannot use the ones with traces of alcohol in them? </p>
            <p class="caveat-font">Fortunately for you, Clean Shots will filter out all the images with possible traces of alcohol and give you a folder of images you can look through that is safe for social media. </p>
            <p class="caveat-font">Press the button below to upload your folder (png, jpg, & jpeg images)</p>
            <form id="uploadForm">
                <input type="file" id="fileInput" name="file" style="display: none;" accept="image/*">
                
                <button class="button" type="button" id="uploadButton">
                    <img src="/static/upload.png" alt="uploadButton" style="width: 50px; height: 50px;">
                </button>
            </form>

            <script>
                document.getElementById('uploadButton').addEventListener('click', function() {
                    document.getElementById('fileInput').click();
                });
        
                document.getElementById('fileInput').addEventListener('change', function(event) {
                    const file = event.target.files[0];
                    if (file) {
                        // Handle the file upload process
                        console.log('Selected file:', file);
                        // You can add more code here to handle the file upload
                    }
                });
            </script>
        </div>
        <div class="column3">
            <img class="img4_style" src="/static/rectangle2.jpeg" alt="square" width="100%">
            <img class="img3_style" src="/static/square.png" alt="square" width="80%">
        </div>
    </div>
</body>
</html>
